.searchItem {
    border: 1px solid #d3d3d3;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;
    background: #fdfbfb;
}

.sIImg {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.sIDesc {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 2;
}

.sITitle {
    font-size: 25px;
    color: rebeccapurple;
}

.sITitle .fa-star {
    font-size: 16px;
    margin-left: 5px;
    color: gold;
}

.sISubtitle {
    font-size: 16px;
    font-weight: bold;
}

.sIFeatures {
    font-size: 16px;
}

.sICancelOp {
    font-size: 16px;
    color: #29901f;
    font-weight: bold;
}

.sIOf {
    font-size: 16px;
    color: #c90f0f;
    font-weight: bold;
}

.fa-check {
    padding-right: 5px;
}

.sICancelOpSubtitle {
    font-size: 16px;
    color: #29901f;
    font-weight: bold;
}

.sIDetails {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.sIRating {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 20px;
    margin-bottom: 10px;
}

.sIRating > span {
    font-weight: 500;
    display: block;
    font-weight: 500;
    margin-right: 20px;
}

.comments {
    font-size: 14px;
    margin-top: 5px;
    text-align: right;
}

.r {
    font-size: 16px;
}

.sIDetailTexts {
    text-align: right;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.sIPrice {
    font-size: 24px;
    font-weight: bold;
}

.sIOpIVA {
    font-size: 16px;
    color: #797777;
}

.sICheckButton {
    padding: 10px 5px;
    border: none;
    font-size: 18px;
}

.fa-chevron-right {
    font-weight: bold;
    padding-left: 5px;
}

.sICancelOpSubtitle .pay {
    font-size: 14px;
    font-weight: lighter;
}

.sICheckButton {
    width: 190px;
    height: 45px;
}
