body {
    height: 100%;
    width: 100%;
}

.wrapper {
    position: relative;
    width: 370px;
    height: 450px;
    background: #f4f4f4;
    border-radius: 10px;
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: height 0.2s ease;
    overflow: hidden;
    z-index: 100;
}

.wrapper.active {
    height: 620px;
}

.wrapper .form-box {
    width: 100%;
    padding: 40px;
}

.wrapper.active .form-box.login {
    transition: none;
    transform: translateX(-400px);
}

.wrapper .form-box.login {
    transition: transform 0.18s ease;
    transform: translateX(0);
}

form h1 {
    font-size: 36px;
    text-align: center;
}

form .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 40px;
    font-size: 16px;
    color: #000;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: #6e6a6a;
}

.input-box .icons {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
}

form .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember-forgot label input {
    accent-color: #000;
    margin-right: 4px;
}

.remember-forgot a {
    color: #000;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

form button {
    width: 100%;
    height: 45px;
    background: #000;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 17px;
    color: #fff;
    font-weight: 700;
}

/*Registered*/

form .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a {
    color: #000;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}

.wrapper.active .form-box.register {
    transition: transform 0.18s ease;
    transform: translateX(0);
}

.wrapper .form-box.register {
    position: absolute;
    transition: none;
    transform: translateX(400px);
}

form .input-box2 {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 10px 0;
}

.input-box2 input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 40px;
    font-size: 16px;
    color: #000;
    padding: 20px 45px 20px 20px;
}

.input-box2 input::placeholder {
    color: #6e6a6a;
}

.input-box2 .icons {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
}

form .remember-forgot2 {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: 15px 0 15px;
}

.remember-forgot2 label input {
    accent-color: #000;
    margin-right: 4px;
}

.remember-forgot2 a {
    color: #000;
    text-decoration: none;
}

.remember-forgot2 a:hover {
    text-decoration: underline;
}

.Ad-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #e32121;
    color: #fff;
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 999;
}
